<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taskcar">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.Activity.RegisterActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />
        <activity android:name=".presentation.Activity.CitasActivity" />
        <activity android:name=".ShowroomActivity" />
        <activity android:name=".TallerActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".presentation.Activity.RegisterMainActivity" />
        <activity android:name=".VehiculosActivity" />
        <activity android:name=".presentation.Activity.RegistrarVehiculo" />
        <activity android:name=".presentation.Activity.RegisterSubActivity" />
        <activity android:name=".DCitaSecond" />
        <activity android:name=".DRegisterVehicle" />
        <activity android:name=".DVisualizarVehicle" />
        <activity android:name=".presentation.Activity.SeleccionarVehiculo" />
        <activity android:name=".presentation.Activity.SeleccionarServicio" />
        <activity android:name=".presentation.Activity.SeleccionarTaller" />
        <activity android:name=".presentation.Activity.SeleccionarFechaHora" />
        <activity android:name=".presentation.Activity.Observaciones" />
        <activity android:name=".presentation.Activity.TestDrive" />
        <activity android:name=".presentation.Activity.ShowRoomMain" />
        <activity android:name=".presentation.Activity.HistoriaVehicular"></activity>
    </application>

</manifest>